# HOW TO USE:
#
# 1 Add environment variables for the various stages here
# 2 Rename this file to env.yml and uncomment it's usage
#   in the serverless.yml.
# 3 Make sure to not commit this file.

dev:
  APP_NAME: serverless-nodejs-starter

prod:
  APP_NAME: serverless-nodejs
